extends layout

block content
    .w3-card-4
    header.w3-container.w3-blue
      h1 Página de eliminação de um Recurso Educativo

    .w3-container
        ul.w3-ul 
            li #[b Nome do Recurso: ] #{r.resourceName}
            li #[b Título: ] #{r.title}
            li #[b Subtítulo: ] #{r.subtitle}
            li #[b Tipo: ] #{r.type}
            li #[b Autor: ] #{r.author}

        center
            h2 Tem a certeza que quer remover este RE?
            button.w3-btn.w3-round.w3-green.w3-margin
                a(href="/resources/delete/" + r.resourceName + "/confirm") Confirm 
            button.w3-btn.w3-round.w3-red.w3-margin
                a(href="/resources/" + r.resourceName) Cancel
    
    footer.w3-container.w3-blue
      address Generated in PGDRE at #{d}