extends layout

block content
  .w3-card-4
    header.w3-container.w3-blue
      h1 Plataforma de Gestão e Disponibilização de Recursos Educativos
      h2 Bem-vindo (tenho que meter o nome do user aqui depois)!
    
    .w3-container
        center
            a.w3-margin(href="/resources") Recursos
              img.w3-margin(src="/images/resources.png" alt="resources icon" width="30" height="30")
            a.w3-margin(href="/profile") Perfil
              img.w3-margin(src="/images/profile.png" alt="profile icon" width="30" height="30")
            a.w3-margin(href="/logout") Logout  
              img.w3-margin(src="/images/logout.png" alt="logout icon" width="30" height="30")

    .w3-container.w3-border
        h2 Notícias 
        table.w3-table-all
          tr 
            th Utilizador
            th Recurso 
            th Tipo
            th Data
          each n in news 
            tr 
              td= n.username
              td= n.resourceName 
              td= n.type
              td= n.date

    footer.w3-container.w3-blue
      address Generated in PGDRE at #{d}