extends layout

block content
    .w3-card-4
    header.w3-container.w3-blue
      h1 Profile #[img(src="/images/profile.png" alt="profile icon" height="50" width="50")]
    
    .w3-container  
      if u
        ul.w3-ul
          li #[b Nome:] #{u.name}
          li #[b Email:] #{u.email}
          li #[b Username:] #{u.username} 
          li #[b Nível:] #{u.level}
          li #[b Active: ] #{u.active}
      else 
        p Sem informações a apresentar!

      button#cancel.w3-btn.w3-round.w3-red.w3-margin
        a(href="/profile/admin/investigate") Voltar atrás

    footer.w3-container.w3-blue
      address Generated in PGDRE at #{d} | #[a(href="/home") Go back to home!]