extends layout

block content
    .modal(id="display")
    .w3-card-4
    header.w3-container.w3-blue
      if u.profilePic == undefined
        h1 Profile #[img(src="/images/profile.png" alt="profile icon" height="50" width="50" onclick='showProfilePic(\"' + u.level + '\", \"profile.png\", \"' + u.username + '\")')]
      else 
        h1 Profile #[img(src="/profilePics/" + u.level + "/" + u.profilePic alt="profile icon" height="50" width="50" onclick='showProfilePic(\"' + u.level + '\", \"' + u.profilePic + '\", \"' + u.username + '\")')]

    .w3-container  
      if u
        ul.w3-ul
          li #[b Nome:] #{u.name}
          li #[b Email:] #{u.email}
          li #[b Nome de Utilizador:] #{u.username} 
          li #[b Nível:] #{u.level}
          if u.active == true 
            li #[b Ativo: ] Sim
          else 
            li #[b Ativo: ] Não
          li #[b Data de criação de perfil: ] #{u.dateCreated} 
          li #[b Data de último acesso à plataforma: ] #{u.lastAccess} 
      else 
        p Sem informações a apresentar!

      button#cancel.w3-btn.w3-round.w3-red.w3-margin
        a(href="/profile/admin/investigate") Voltar atrás

    footer.w3-container.w3-blue
      address Generated in PGDRE at #{d} #[a#home(href="/home") Go back to home!]