extends layout

block content
    .w3-card-4
    header.w3-container.w3-blue
      h1 Recursos

    .w3-container
        table.w3-table-all
            tr
                th Título
                th Subtítulo
                th Tipo
                th Autor 
                th Operations

            each r in rs 
                tr 
                    td= r.title
                    if r.subtitle != undefined 
                        td= r.subtitle
                    else 
                        td Indefinido
                    td= r.type
                    td= r.author
                    td  
                        button.w3-btn.w3-round.w3-indigo.w3-margin 
                          a(href="/resources/download/" + r.resourceName) Download
                        button.w3-btn.w3-round.w3-indigo.w3-margin 
                          a(href="/resources/edit/" + r.resourceName) Edit
                        button.w3-btn.w3-round.w3-indigo.w3-margin 
                          a(href="/resources/delete/" + r.resourceName) Delete

    footer.w3-container.w3-blue
      address Generated in PGDRE at #{d}